/* src/components/ActiveUsers.css */
.user-item {
  padding: 8px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: black;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
}

.user-item.online {
  background-color: #e6f7ff;
  color: black;
  font-weight: 500;
}

.user-item.offline {
  background-color: #f5f5f5;
  opacity: 0.6;
  color: black;
}

.user-item:hover {
  background-color: #d9eaff;
  color: black;
}
